<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Парсер
      </title>
<!--    подключение css-->
    <link href="main.css" rel="stylesheet"
    </head>
    <body>
<!--Тут будет-->
    <h1>
        парсер
    </h1>
    <h2>
        Это главная страница
    </h2>
    <h3>
        Информация о системе
    </h3>
    <p>
        Парсер умеет получать вакансии
        <br> </br>
        И что делать
    </p>
    <p>
        Можно задавать различные
    </p>
<!--    <p style="color:aqua">-->
    <p class="proverb"
    Да прибудет с вами сила
    </p>
<!--а ссылка на другую страницу-->

    <a href="form.html">Начать поиск</a>

    </body>
</html>